:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#navbar {
  padding: 1rem;
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 999;
}

.crown {
  font-size: x-large;
}

.call-me-button-numbers {
  border-radius: 10px;
  border: 2px solid green;
  font-size: large;
  padding: 2px;
}

.call-me-button-phone {
  border-radius: 10px;
  border: 2px solid green;
  display: none;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 2rem;
}

.home-div {
  padding: 2rem;
  color: #f9f9f9;
  padding-top: 78px;
}

.services-list {
  border: 0px;
  border-radius: 5px !important;
  margin-top: 30px;
  .list-group-item {
    opacity: 85%;
    margin: 2px;
    border-radius: 5px !important;
  }
}

.get-in-touch {
  padding-top: 1rem;
}

.huge-text {
  font-size: 40px;
  padding: 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label {
  font-weight: bold;
  margin: -10px;
}

input,
textarea {
  width: 75%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer {
  font-size: 0.75rem;
}

/* GALLERY PAGE */

.gallery-div {
  border: 2px solid red;
  margin-top: 100px;
  width: 100%;
  background-color: yellow;
  margin: auto;
}

.gallery-img {
  max-height: 200px;
  border-radius: 10px;
}

@media (width <= 480px) {
  .call-me-button {
    color: red;
  }
  .call-me-button-numbers {
    display: none;
  }

  .call-me-button-phone {
    display: block;
    margin-left: 4px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
