/* :root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    353deg,
    rgba(68, 68, 68, 1) 0%,
    rgba(227, 227, 227, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

#navbar {
  padding: 1rem;
  /* position: fixed; */
  top: 0;
  width: 100vw;
  z-index: 999;
}

.navbar-nav .nav-link {
  transition: scale 0.3s linear;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  scale: 1.1;
}

.crown {
  font-size: x-large;
}

.call-me-button-numbers {
  border-radius: 10px;
  border: 2px solid green;
  font-size: large;
  padding: 2px;
  animation: pulse 1.5s infinite;
  background-color: white;
  color: black;
}

.call-me-button-phone {
  border-radius: 10px;
  border: 2px solid green;
  display: none;
  animation: pulse 1.5s infinite;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 2rem;
}

.home-wrapper {
  background-image: url("./assets/images/stock3brown.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-div {
  padding: 2rem;
  color: #f9f9f9;
  padding-top: 78px;
}

.services-list {
  border: 0px;
  border-radius: 5px !important;
  margin-top: 30px;
  .list-group-item {
    opacity: 85%;
    margin: 2px;
    border-radius: 5px !important;
    cursor: pointer;
    min-width: 12rem;
    max-width: 40rem;
    margin-left: 33%;
    margin-right: 33%;
  }
  .list-group-item:hover {
    animation: getbigger 60s;
  }
}

.get-in-touch {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-top: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.huge-text {
  font-size: 40px;
  padding: 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label {
  font-weight: bold;
  margin: -10px;
}

input,
textarea {
  width: 75%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  border-radius: 20px !important;
  padding-left: 12px;
  padding-right: 12px;
  transition: background-color 0.3s linear;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer {
  font-size: 0.75rem;
}

/* GALLERY PAGE */

/* .gallery-div {
  margin-top: 100px;
  width: 100%;
  margin: auto;
} */

/* .gallery-img {
  max-height: 200px;
  border-radius: 10px;
  margin: 3px auto;
  padding: 3px;
} */

.gallery-div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  margin: 20px;
}
.gallery-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3 / 2;
  background-color: #ececec;
  border-radius: 3px;
}

.gallery-img:hover {
  animation: getbigger 60s;
}

/* ABOUT PAGE */

.about-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/john.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* KEYFRAMES */

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes onepulse {
  50% {
    transform: scale(1.05);
    opacity: 100%;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes getbigger {
  1% {
    transform: scale(1.05);
    opacity: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* MEDIA QUERIES */

@media (width <= 480px) {
  .call-me-button {
    color: red;
  }
  .call-me-button-numbers {
    display: none;
  }

  .call-me-button-phone {
    display: block;
    margin-left: 4px;
  }
}

@media (min-width: 768px) {
  .home-wrapper {
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
  }

  .home-div {
    /* background-color: yellow; */
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
  }

  .gallery-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1281px) {
  .gallery-div {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
